.dialogue-editor-toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.toolbar-button-container {
	transition: all var(--transition-duration) var(--transition-easing);
	background-color: transparent;
	margin: 5px;
}

.toolbar-button-container .toolbar-button {
	padding: 0;
	background-color: transparent;
	border: none;
	min-width: 48px;
	max-width: 64px;
}

.tertiary:hover:not(:disabled) {
	box-shadow: none !important;
}

.toolbar-button:hover > .icon {
	fill: var(--primary-hovered);
}

.toolbar-button:hover > .favorite-icon {
	fill: red;
	height: 28px;
	transition: height var(--transition-duration) var(--transition-easing);
}

.favourite-container {
	align-self: flex-end;
	flex: 1;
	align-content: end;
	justify-content: end;
}
