/* ---------------------------------------- */
/*      REACT FLOW WILL BE ATTRIBUTED       */
/* INVISIBLE BECAUSE MINIMAP IS OVERLAPPING */
/* ---------------------------------------- */
.react-flow__attribution {
	opacity: 0.05;
}

.spawn-new-node {
	width: 100%;
	height: 100%;
	gap: 15px;
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	flex-direction: column;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: nowrap;
	padding-bottom: 10px;
}

.spawn-new-node .button-container {
	width: 100%;
	height: 100%;
}

.spawn-new-node .spawn-button {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
