/* ---------------------------------------- */
/*      REACT FLOW WILL BE ATTRIBUTED       */
/* INVISIBLE BECAUSE MINIMAP IS OVERLAPPING */
/* ---------------------------------------- */
.react-flow__attribution {
	opacity: 0.05;
}

.modal-overlay .modal-spawn-node {
	width: min(30%, 500px);
	height: min(60%, 400px);
}

.spawn-new-node {
	height: 100%;
	gap: 25px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	flex-direction: column;
	align-content: stretch;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-bottom: 10px;
	justify-items: stretch;
}

.spawn-new-node .button-container {
	width: 100%;
	height: 100%;
}

.spawn-new-node .spawn-button {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
