.dialogue-editor-details {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
}

.dialogue-editor-details h3 {
	text-align: center;
}

.node-details {
	width: 95%;
	height: 100%;
	display: flex;
	margin: 10px;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: visible;
	width: auto;
}

.node-details-generic {
	display: grid;
	grid-template-columns: 25% 75%;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: stretch;
	justify-items: stretch;
	gap: 5px;
}

.node-details-confirmation {
	margin-bottom: 20px;
}

.node-info-panel {
	display: grid;
	grid-template-columns: 25% 75%;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: stretch;
	justify-items: stretch;
	gap: 5px;
}

.fade-enter {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.fade-enter-active {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.fade-exit-active {
	opacity: 0;
}
