.dialogue-editor-details {
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
}

.dialogue-editor-details h3 {
	text-align: center;
}

.node-details {
	display: flex;
	margin: 10px;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: visible;
	width: auto;
	height: 100%;
}

.node-details-generic {
	display: grid;
	grid-template-columns: 20% 80%;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: stretch;
	justify-items: stretch;
	gap: 5px;
}

.node-details-specific {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.node-details-specific-tab {
	
}

.node-details-confirmation {
	margin-bottom: 20px;
}

.node-info-panel {
	display: grid;
	grid-template-columns: 20% 80%;
	align-content: stretch;
	justify-content: space-evenly;
	align-items: center;
	justify-items: start;
	gap: 5px;
}

.dialogue-rows-selector {
	overflow: hidden;
}

.dialogue-row-area {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	gap: 15px;
	overflow-y: scroll;
	height: 800px; /* this breaks if zooming! */
	grid-column: 1/3;
	grid-row: 2/5;
	padding: 10px;
	padding-left: 0px;
}

.dialogue-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
	align-items: stretch;
	width: 100%;
	gap: 10px;
}

.dialogue-row-id {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: space-between;
	justify-content: flex-start;
	align-items: center;
}

.dialogue-row-data {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
	align-items: stretch;
	width: 100%;
	gap: 5px;
}

.dialogue-row-data-audio-row {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
}

.dialogue-row textarea {
	width: 100%;
	resize: vertical;
}

.fade-enter {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

.fade-enter-active {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.fade-exit-active {
	opacity: 0;
}
