.dialogue-participants-container {
    width: 100%;
  }
  
  .dialogue-participants-container ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .dialogue-participants-container li {
    padding: 5px 0;
    border: 1px solid transparent;
  }

  .scroll-container {
    overflow-y: auto;
    width: 100%;
    border-radius: 5px;
  }