.dialogue-participants-container {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .dialogue-participants-container h3 {
    margin-bottom: 10px;
  }
  
  .dialogue-participants-container ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .dialogue-participants-container li {
    padding: 5px 0;
    border: 1px solid transparent;
  }

  .scroll-container {
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    border-radius: 5px;
  }