.landing-page-wrapper {
    border-radius: 10px;
    padding: 30px;
    background-color: var(--background-secondary);
    margin: 10px;
    height: min(800px, 75%);
    width: min(1000px, 75%);
  }
  