.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  min-width: 105px;
  min-height: 40px;
  overflow: hidden;
  white-space: nowrap;
}

.circle-button {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.node-edge-button {
  pointer-events: all;
  overflow: visible;
}