.project-list-item {
    padding: 10px;
    cursor: pointer;
    font-size: small;
    background-color: transparent;
    border: 1px solid transparent;
  }
  
  .project-list-item.selected {
    border-radius: 5px;
  }
  