.scroll-list {
  padding: 5px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow-x: hidden;

  pointer-events: auto;

  background-color: var(--primary-normal);
  color: var(--primary-text);
  border: 1px solid var(--secondary-normal);
}

.scroll-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  pointer-events: auto;
}

.scroll-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.scroll-list li {
  padding: 1px 0;
  border: 1px solid transparent;
}

.scroll-list-item.selected {
  border-radius: 5px;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: transparent;  
  border-radius: 5px;
  transition: all var(--transition-duration) var(--transition-easing);
  background: var(--primary-normal); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hovered); 
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary-active); 
}