.scroll-list {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  min-height: 150px;
  height: min(350px, 70%);
  overflow-y: auto;
  padding-right: 10px;
  background-color: #999;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
}

.scroll-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scroll-list::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.scroll-list::-webkit-scrollbar-thumb:hover {
  background: #666;
}
