.scroll-list {
  padding: 5px;
  border-radius: 5px;
  min-height: 150px;
  height: min(min(300px, 50%), auto);
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;

  pointer-events: none; /* However, I wamt child elements to consume pointer events... */
}

.scroll-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.scroll-list::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scroll-list::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

.scroll-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.scroll-list::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
}
