.text-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.text-input-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid inherit;
  border-radius: 5px;
  text-align: center;
}

input:read-only {
  cursor: not-allowed;
}

input:hover:not(:read-only) {
  box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.2);
}

.text-input-container input:read-only {
  cursor: not-allowed;
}

.text-input-container input:focus {
  border: 1px solid white; /* Thinner and white border on focus */
  outline: none;
}