body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #161616;
  color: #ffffff;
}

h3 {
  text-align: left;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.footer {
  color: #ffffff2c;
  display: none;
}

.section-title {
  text-align: center;
  padding-bottom: 1vh;
}

.no-selection {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}