/* BaseStyle.css */
:root {
    --transition-duration: 0.3s;
    --transition-easing: ease-in-out;
}

.background {
    background-color: var(--background-primary);
    color: var(--primary-text);
    transition: background-color var(--transition-duration) var(--transition-easing), color var(--transition-duration) var(--transition-easing);
}

.background:disabled {
    background-color: var(--background-disabled);
    color: var(--primary-disabled);
}

.primary {
    background-color: var(--primary-normal);
    color: var(--primary-text);
    border: 1px solid var(--secondary-normal);
    transition: background-color var(--transition-duration) var(--transition-easing), color var(--transition-duration) var(--transition-easing), border-color var(--transition-duration) var(--transition-easing);
}

.primary:hover {
    background-color: var(--primary-hovered);
    color: var(--primary-text-hovered);
    border-color: var(--secondary-hovered);
}

.primary:active {
    background-color: var(--primary-active);
    color: var(--primary-text-active);
    border-color: var(--secondary-active);
}

.primary:focus {
    background-color: var(--primary-focus);
    color: var(--primary-text-focus);
    border-color: var(--secondary-focus);
}

.primary:disabled {
    background-color: var(--primary-disabled);
    color: var(--tertiary-disabled);
    border-color: var(--secondary-disabled);
}

.secondary {
    background-color: var(--secondary-normal);
    color: var(--primary-text);
    border: 1px solid var(--tertiary-normal);
    transition: background-color var(--transition-duration) var(--transition-easing), color var(--transition-duration) var(--transition-easing), border-color var(--transition-duration) var(--transition-easing);
}

.secondary:hover {
    background-color: var(--secondary-hovered);
    color: var(--secondary-text-hovered);
    border-color: var(--tertiary-hovered);
}

.secondary:active {
    background-color: var(--secondary-active);
    color: var(--secondary-text-active);
    border-color: var(--tertiary-active);
}

.secondary:focus {
    background-color: var(--secondary-focus);
    color: var(--secondary-text-focus);
    border-color: var(--tertiary-focus);
}

.secondary:disabled {
    background-color: var(--secondary-disabled);
    color: var(--primary-disabled);
    border-color: var(--tertiary-disabled);
}

.tertiary {
    background-color: var(--tertiary-normal);
    color: var(--primary-text);
    border: 1px solid var(--primary-normal);
    transition: background-color var(--transition-duration) var(--transition-easing), color var(--transition-duration) var(--transition-easing), border-color var(--transition-duration) var(--transition-easing);
}

.tertiary:hover {
    background-color: var(--tertiary-hovered);
    color: var(--tertiary-text-hovered);
    border-color: var(--primary-hovered);
}

.tertiary:active {
    background-color: var(--tertiary-active);
    color: var(--tertiary-text-active);
    border-color: var(--primary-active);
}

.tertiary:focus {
    background-color: var(--tertiary-focus);
    color: var(--tertiary-text-focus);
    border-color: var(--primary-focus);
}

.tertiary:disabled {
    background-color: var(--tertiary-disabled);
    color: var(--primary-disabled);
    border-color: var(--primary-disabled);
}

.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.tertiary-text {
    color: var(--tertiary-text);
}

/* Placeholder text colors */
input::placeholder, textarea::placeholder {
    color: var(--primary-text);
    transition: color var(--transition-duration) var(--transition-easing);
}

input.primary::placeholder:hover, textarea.primary::placeholder:hover {
    color: var(--primary-text-hovered);
}

input.primary::placeholder:active, textarea.primary::placeholder:active {
    color: var(--primary-text-active);
}

input.primary::placeholder:focus, textarea.primary::placeholder:focus {
    color: var(--primary-text-focus);
}

input.primary::placeholder:disabled, textarea.primary::placeholder:disabled {
    color: var(--tertiary-disabled);
}

input.secondary::placeholder, textarea.secondary::placeholder {
    color: var(--primary-text);
    transition: color var(--transition-duration) var(--transition-easing);
}

input.secondary::placeholder:hover, textarea.secondary::placeholder:hover {
    color: var(--secondary-text-hovered);
}

input.secondary::placeholder:active, textarea.secondary::placeholder:active {
    color: var(--secondary-text-active);
}

input.secondary::placeholder:focus, textarea.secondary::placeholder:focus {
    color: var(--secondary-text-focus);
}

input.secondary::placeholder:disabled, textarea.secondary::placeholder:disabled {
    color: var(--primary-disabled);
}

input.tertiary::placeholder, textarea.tertiary::placeholder {
    color: var(--primary-text);
    transition: color var(--transition-duration) var(--transition-easing);
}

input.tertiary::placeholder:hover, textarea.tertiary::placeholder:hover {
    color: var(--tertiary-text-hovered);
}

input.tertiary::placeholder:active, textarea.tertiary::placeholder:active {
    color: var(--tertiary-text-active);
}

input.tertiary::placeholder:focus, textarea.tertiary::placeholder:focus {
    color: var(--tertiary-text-focus);
}

input.tertiary::placeholder:disabled, textarea.tertiary::placeholder:disabled {
    color: var(--primary-disabled);
}
