:root {
    /* Background */
    --background-primary: #181818;
    --background-secondary: #1e1e1e;
    --background-tertiary: #252525;
    --background-disabled: #3c3b3b;

    /* Normal State */
    --primary-normal: #1A1A1A;
    --secondary-normal: #252525;
    --tertiary-normal: #303030;

    /* Hovered State */
    --primary-hovered: #F39237;
    --primary-hover-border: #e0e0e080;
    --secondary-hovered: #3D3D3D;
    --secondary-hover-border: #e0e0e080;
    --tertiary-hovered: #474747;

    /* Active State */
    --primary-active: #4D4D4D;
    --secondary-active: #575757;
    --tertiary-active: #616161;

    /* In Focus State */
    --primary-focus: #666666;
    --secondary-focus: #707070;
    --tertiary-focus: #7A7A7A;

    /* Disabled State */
    --primary-disabled: #888888;
    --secondary-disabled: #929292;
    --tertiary-disabled: #9C9C9C;
    --background-disabled: #686868;

    /* Text Colors */
    --primary-text: #FFFFFF;
    --secondary-text: #E0E0E0;
    --tertiary-text: #B0B0B0;

    /* Text Hovered, Active, Focus States */
    --primary-text-hovered: #000000;
    --secondary-text-hovered: #1A1A1A;
    --tertiary-text-hovered: #303030;

    --primary-text-active: #000000;
    --secondary-text-active: #1A1A1A;
    --tertiary-text-active: #303030;

    --primary-text-focus: #000000;
    --secondary-text-focus: #1A1A1A;
    --tertiary-text-focus: #303030;


    /* Dropdown shadows */
    --enabled-dropshadow: #ffffff42;
    --primary-dropshadow: #ffffff62;
    --secondary-dropshadow: #ffffff62;
    --tertiary-dropshadow: #ffffff62;


    /* Dialogue Nodes */
    --start-node: #013701;
    --start-node-border: #03d404;

    --answer-node: #062922;
    --answer-node-border: #199f85 ;

    --lead-node: #352205;
    --lead-node-border: #cc8413;

    --complete-node: #370101;
    --complete-node-border: #d50404;

    --complete-auto-node: #370101;
    --complete-auto-node-border: #d50404;
   
    --jump-node: #373838;
    --jump-node-border: #d4d5d;
}
